<li class="mb-2 w-100 d-flex flex-row">
	<span class="flex-grow-1">{{name}}</span>

	<button class="btn btn-primary change-devour mr-3" type="submit" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}ORDER AGAIN{{else}}DEVOUR{{/if}}
	</button>

	<button class="btn btn-secondary delete-burger mr-3" type="submit" data-id="{{this.id}}">DELETE</button>
</li>
