<li>
	{{name}}

	<button class="devoured-btn " type="submit" name="action" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}ORDER AGAIN{{else}}DEVOUR{{/if}}
	</button>

	<button class="delete-btn" type="submit" name="action" data-id="{{this.id}}">DELETE</button>
</li>
